@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello everyone, I am Anjan. I have created this custom User Registration module. Please have a look.</p>
</div>
